.todo {
  display: flex;
  flex-direction: column; /*элементы идут вертикально виде колонки с отступом 24px*/
  row-gap: 24px;
  width: 100%; /*занимает всю доступную ширину*/
  max-width: 404px; /*ограничение ширины*/
  min-height: 429px; /*минимальная высота*/
  padding: 24px;
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.todo__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2; /*расстояние между линиями соседних строк текста*/
}

.todo__form {
  display: flex;
  column-gap: 16px; /*Горизонтальное расположение элементов с отступом между ними*/
}

.todo__field {
  width: 100%; /*Поле ввода занимает всю доступную ширину*/
}

.todo__info {
  display: flex;
  justify-content: space-between; /*Элементы распределены по краям*/
  align-items: center; /*выровнены по центру вертикально*/
  column-gap: 16px; /*Горизонтальное расположение элементов с отступом между ними*/
  font-weight: 600;
}

/* !Кнопка 'Удалить всё' */
.todo__delete-all-button {
  padding: 0; /*убираем внутринние отступы*/
  background-color: transparent; /*прозрачный фон*/
  border: none; /*убираем рамку*/

  &:hover {
    color: var(--color-gray-4); /*При наведении меняет цвет*/
  }

  /* Если нет класса .is-visible, скрываем кнопку */
  &:not(.is-visible) {
    opacity: 0; /*делаем прозрачной*/
    visibility: hidden; /*полностью скрываем из потока*/
  }
}

.todo__list,
.todo__empty-message {
  &:empty {
    display: none; /* Если список или сообщение пустые (:empty), они не отображаются */
  }
}

.todo__list {
  --todoListRowGap: 8px; /* расстояние между элементами */

  display: grid;
  row-gap: var(--todoListRowGap); /*отступ между строками*/
}

.todo__empty-message {
  text-align: center;
  color: var(--color-gray-4);
}
