.todo {
  display: flex;
  flex-direction: column; /*элементы идут вертикально виде колонки с отступом 24px*/
  row-gap: 24px;
  width: 100%; /*занимает всю доступную ширину*/
  max-width: 404px; /*ограничение ширины*/
  min-height: 429px; /*минимальная высота*/
  padding: 24px;
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2; /*расстояние между линиями соседних строк текста*/
}

.form {
  display: flex;
  column-gap: 16px; /*Горизонтальное расположение элементов с отступом между ними*/
}

.field {
  width: 100%; /*Поле ввода занимает всю доступную ширину*/
}

.info {
  display: flex;
  justify-content: space-between; /*Элементы распределены по краям*/
  align-items: center; /*выровнены по центру вертикально*/
  column-gap: 16px; /*Горизонтальное расположение элементов с отступом между ними*/
  font-weight: 600;
}

/* !Кнопка 'Удалить всё' */
.deleteAllButton {
  padding: 0; /*убираем внутринние отступы*/
  background-color: transparent; /*прозрачный фон*/
  border: none; /*убираем рамку*/

  &:hover {
    color: var(
      --color-gray-4
    ); /*При наведении меняет цвет*/
  }
}

.list,
.emptyMessage {
  &:empty {
    display: none; /* Если список или сообщение пустые (:empty), они не отображаются */
  }
}

.list {
  --todoListRowGap: 8px; /* расстояние между элементами */

  display: grid;
  row-gap: var(
    --todoListRowGap
  ); /*отступ между строками*/
}

.emptyMessage {
  text-align: center;
  color: var(--color-gray-4);
}
